/* SIDEBAR */
.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-dark .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #E24F27;
}
.sidebar{
    width: 11rem;
}
.nav-sidebar .nav-link i{
    margin-right: 5px;
}
.nav-group-sub .nav-link {
    padding: .625rem 1.25rem .625rem 2.5rem;
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-brand {
        min-width: 11.8rem;
    }
}
/* END SIDEBAR */

/* PAGINATION */
.pagination{
    flex-wrap: wrap!important;
}
.pagination .page-item .page-link{
    padding: 7px 14.5px;
    margin-right: 8px;
    margin-top: 3px;
    transition: all 0.3s ease;
}
/* END PAGINATION */

/* PRINT PAGE */
.printable,
.printable *{
    display: none;
}
@media print {
    body * {
        display: none;
    }
    .printable,
    .printable *{
        display: block;
    }
    .printable tr{
        display: table-row !important;
    }
    .printable td{
        display: table-cell !important;
    }

}
@page {
    margin-top: 48px;
    margin-bottom: 48px;
}
/* END PRINT PAGE */

/* TABLE RESPONSIVE AND DROPDOWN BUTTON */
@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
/* END TABLE RESPONSIVE AND DROPDOWN BUTTON */

/* RESIZE DATETIME PICKER */
    .daterangepicker .calendar{
        margin:0px !important;
        padding:5px !important;
    }
    .daterangepicker .table-condensed tr>td, .daterangepicker .table-condensed tr>th{
        padding: 2px !important;
        min-width: 30px !important;
    }
    .daterangepicker .table-condensed thead tr:last-child th{
        padding-top: 0px !important;
    }
    .daterangepicker .hourselect,.daterangepicker .minuteselect,.daterangepicker .secondselect{
        height: 31px !important;
        padding: 0.2375rem .275rem  !important;
    }
/* END RESIZE DATETIME PICKER */


.group-btn-action .btn{
    padding:1px 4px !important;
    margin-right: 4px;
}
.group-btn-action i{
    font-size:13px;
}
.group-btn-action .dropdown-menu{
    min-width: 9rem;
    padding: 0px;
}
.group-btn-action .dropdown-menu .dropdown-item{
    padding: 5px 10px;
}
.group-btn-action .dropdown-menu .dropdown-item i{
    font-size:12px;
    margin-right:8px;
}
.table td.group-btn-action{
    min-width: 40px;
}
.table td.group-btn-action .btn{
    line-height: 18px;
    padding: 0px 4px !important;
}
.table td.group-btn-action i{
    font-size: 10px;
}
table a{
    color: #333;
}
table a:hover{
    color: #111;
}
.table td,
.table th{
    padding: .45rem .55rem;
    font-size: 12px;
}
